<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/updateData" method="post">
        <input type="text" value="<%=data.id%>" hidden placeholder="Enter your name" name="id">
        <input type="text" value="<%=data.name%>" placeholder="Enter your name" name="name">
        <input type="text" value="<%=data.Subject%>" placeholder="Enter your Subject" name="Subject">
        <input type="text" value="<%=data.city%>" placeholder="Enter your city" name="city">

        <button type="submit">Update data</button>
    </form>
</body>
</html>